/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2021, 9:01:51 PM
    Author     : Ryan
*/

main{
    background-color: lightblue;
    padding: 0px;
}
h1{
    padding-left: 10px;
    color: white;
    background-color: blue;
    padding-top: 21.44px;
    padding-bottom: 21.44px;
    margin: 0px;
    font-style: italic;
}
h2{
    font-style: italic;
    margin: 0px;
    padding: 19.92px 0px;
}
p{
    margin: 0px;
    padding: 16px 0px;
}
#color{
    border: 1px solid gray;
    margin: 3px;
}
div#buttons{
    margin-top: 20px;
}
footer>p{
    background-color: blue;
    text-align: center;
    color: white;
}